<h1>Spells</h1>
<h2><%=@spell.name%></h2>

<ul>
	<li><%=@spell.level %></li>
	<li>Casting time: <%=@spell.castingTime %></li>
	<li>Duration: <%=@spell.duration %></li>
	<li>Concentration: <%=@spell.concentration %></li>
	<li>Range: <%=@spell.range %></li>
	<li>Components: <%=@spell.components %></li>
	<li>School: <%= link_to @spell.school.schoolName, @spell.school %></li>
	<li><b>Classes: </b>
		<ul>
			<%@spell.adventurer_classes.each do |adventurer|%>
				<li><%= link_to adventurer.name, adventurer%></li>
			<%end%>
		</ul>
	</li>
</ul>
<%=@spell.description.html_safe%>
