<!DOCTYPE html>
<html>
  <head>
    <title>IntroProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

 	<header>
 		<ul>
 			<li><%=link_to "Spells", root_path%></li>
 			<li><%=link_to "Adventurer Classes", adventurer_classes_path%></li>
 			<li><%=link_to "Schools of Magic", schools_path%></li>
 		</ul>
 	</header>
    <%= yield %>
  </body>
</html>
